<?php  foreach ($citys as $key => $value): ?>
            <section class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-aboutus">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <span><?= $value['date'] ?></span>
                                            <h2><?= $value['title'] ?></h2>
                                        </div>
                                        <div class="tg-description">
                                            <p><?= $value['description'] ?></p>
                                        </div>
                                        <div class="tg-btnarea">
                                            <a class="tg-btn" href="<?= $value['link-book-now'] ?>" target="_blank">Reserve Seu Lugar</a>
                                            <a class="tg-btn" href="city/trip/<?= $value['trip-address'] ?>">Saiba Mais</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-videoarea">
                                    <figure>
                                        <img src="lib/images/banner/<?= $value['banner'] ?>.jpg" alt="<?= $value['title'] ?>" class="banner">
                                        <figcaption><a href="https://www.youtube.com/watch?v=Q3jPvf2OOgg" class="tg-btnplay" data-rel="prettyPhoto[gallery]"><img src="lib/images/btn-playicon.jpg" alt="<?= $value['title'] ?>"></a></figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
<?php  endforeach; ?>




