
        <!--************************************
                Home Slider Start
        *************************************-->
        <div id="tg-homebanner" class="tg-homebannervtwo tg-haslayout">
            <figure class="tg-themepostimg">
                <img src="lib/images/banner/<?= $data['banner'] ?>.jpg" alt="image description">
                <figcaption>
                    <div class="container">
                        <div class="tg-bannercontent">
                            <span class="tg-datetime"><?= $data['date'] ?></span>
                            <h1><?= $data['title'] ?></h1>
                            <div class="tg-authorholder">
                                <div class="tg-authorcontent">
                                    <div class="tg-speakername">
                                        <h2><?= $value['short-description'] ?></h2>
                                    </div>
                                </div>
                            </div>
                            <div id="tg-upcomingeventcountervtwo" style="display: none;" class="tg-upcomingeventcounter"></div>

                            <div class="tg-btnwhite">
                                <a class="tg-btn" href="<?= $value['link-book-now'] ?>" style="font-size: 20px; font-weight: 600;padding: 10px" target="_blank">Reserve seu lugar</a>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </div>
        <!--************************************
                Home Slider End
        *************************************-->
        <!--************************************
                Main Start
        *************************************-->
        <main id="tg-about" class="tg-main tg-haslayout">
            <!--************************************
                    About Us Start
            *************************************-->
            <section class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-aboutus">
                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <span>Saiba mais &amp; Sobre:</span>
                                            <h2> <?= $data['title'] ?></h2>
                                        </div>
                                        <div class="tg-description">
                                            <p>
                                                <?= $data['description'] ?>
                                            </p>
                                        </div>
                                        <div class="tg-btnarea">
                                            <a class="tg-btn" href="#"></a>
                                            <a class="tg-btn" href="<?= $value['link-book-now'] ?>" target="_blank">Reserve Seu Lugar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-videoarea" style="display: none;">
                                    <figure>
                                        <img src="lib/images/<?= $data['image-video'] ?>" alt="Video de <?= $data['title'] ?>">
                                        <figcaption><a href="https://www.youtube.com/watch?v=Q3jPvf2OOgg" class="tg-btnplay" data-rel="prettyPhoto[gallery]"><img src="lib/images/btn-playicon.jpg" alt="<?= $data['title'] ?>"></a></figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--************************************
                    About Us End
            *************************************-->
            <section class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-aboutus">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <h2>Incluso no pacote:</h2>
                                        </div>
                                        <div class="tg-description">
                                            <p style="">
                                                <?= $data['allin-incluso'] ?>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <h2>Não incluso:</h2>
                                        </div>
                                        <div class="tg-description">
                                            <p>
                                                <?= $data['no-incluso'] ?>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <h2> Vamos visitar:</h2>
                                        </div>
                                        <div class="tg-description">
                                            <p>
                                                <?= $data['visit-incluso'] ?>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--************************************
                    About Us End
            *************************************-->


            <!--************************************
                    Confrences Start
            *************************************-->
            <section id="tg-schedule" class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-eventconfrences">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="tg-headholder">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <span>Vamos explorar?</span>
                                            <h2>Confira nossa programação: <?= $data['title'] ?> </h2>
                                        </div>
                                        <div class="tg-description">
                                            <p><?= $data['rota-description'] ?></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-eventscheduletabs">
                                    <ul class="tg-eventschedulenav" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#day-one" aria-controls="day-one" role="tab" data-toggle="tab">
                                                <?= $data['title'] ?>
                                                <span><?= $data['date'] ?></span></a>
                                        </li>
                                    </ul>
                                    <div class="tg-eventschedulecontent tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="day-one">
                                            <div class="tg-eventvenuetabs">
                                                <div class="tg-eventvenuecontent tab-content">
                                                    <div role="tabpanel" class="tab-pane active"">
                                                            <?php foreach ($data['route'] as $key => $route): ?>
                                                                <div class="tg-event tg-eventbreak">
                                                                    <div class="tg-eventhead">
                                                                        <div class="tg-leftarea">
                                                                            <time datetime="2017-12-12">
                                                                                <?= $route['entry-time']; ?> -
                                                                                <?= $route['exit-time']; ?>
                                                                            </time>
                                                                            <div class="tg-title">
                                                                                <h2><?= $route['title']; ?></h2>
                                                                            </div>
                                                                        </div>
                                                                        <!--
                                                                        <div class="tg-rightarea">
                                                                            <a class="tg-btnfarword" href="#"><i class="fa fa-mail-forward"></i></a>
                                                                        </div>
                                                                    -->
                                                                    </div> 
                                                                    <div class="tg-description">
                                                                        <p><?= $route['description']; ?></p>
                                                                    </div>
                                                                </div>
                                                         <?php endforeach; ?>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--************************************
                    Confrences End
            *************************************-->
            <!--************************************
                    Gallery Start
            *************************************-->
            <section id="tg-venue" class="tg-sectionspace tg-haslayout">
                <div class="container">
                     <div class="tg-headholder">
                        <div class="tg-sectionhead tg-textalignleft">
                            <div class="tg-sectionheading">
                                <span>Vamos explorar?</span>
                                <h2>Confira nossas fotos</h2>
                            </div>
                        </div>
                    </div>
                    <div class="fb-album-container"></div>
                </div>
            </section>
            <!--************************************
                    Gallery End
            *************************************-->

            <!--************************************
                    Event Registration Start
            *************************************-->
            <section id="tg-venue" class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-eventvenueregistration">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="tg-headholder">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <span>Bora viajar?</span>
                                            <h2>Local de encontro em <?= $data['address2']; ?></h2>
                                        </div>
                                        <div class="tg-description">
                                            <p><?= $data['address3']; ?> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-locationregister no-gutters">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div id="tg-locationmap" class="tg-locationmap tg-map"></div>
                                    </div>
                                </div>
                                <!--
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <a class="tg-btn center" href="<?= $value['link-book-now'] ?>" target="_blank">Reseve agora</a>
                                </div>
                            -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!--************************************
                    Event Registration End
            *************************************-->
            <section id="reserve-seu-lugar" class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="tg-eventvenueregistration">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="tg-headholder">
                                <div class="tg-sectionhead tg-textalignleft">
                                    <div class="tg-sectionheading">
                                        <span>Saia da rotina</span>
                                        <h2>Reserve o seu lugar aqui!</h2>
                                    </div>
                                </div>
                                <div style="width:100%; height: auto; text-align:left;">
                                    <?= $data['ifrime-eventbrite']; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!--************************************
                    Event Registration End
            *************************************-->
        <!--************************************
                Main End
        *************************************-->
<script  src="https://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>


  <?= "<script> var address = '".$data['address']."'</script>" ?>
        <script>
           $( document ).ready(function() {
    /* -------------------------------------
            Google Map
    -------------------------------------- */
    var _tg_locationmap = jQuery("#tg-locationmap");
    _tg_locationmap.gmap3({
        marker: {
            address: address,
            options: {
                title: "Saída do ónibus",
                icon: "lib/images/map-marker.png",
            }
        },
        map: {
            options: {
                zoom: 16,
                scrollwheel: false,
                disableDoubleClickZoom: true,
            }
        }
    });
});
</script>



<script type="text/javascript">
    $.noConflict();
    jQuery(document).ready(function () {
      jQuery(".fb-album-container").FacebookAlbumBrowser({
            account: "locatrip",
            accessToken: "775908159169504|cYEIsh0rs25OQQC8Ex2hXyCOut4",
            skipAlbums: ["Profile Pictures", "Mobile Uploads", "Conheça a Van que iremos", "Timeline Photos", "Cover Photos"],
            showComments: false,
            lightbox: true,
            showAccountInfo: false,
            thumbnailSize: 280,
            photosPageSize: 280
        });

    });
</script>

