 <!--************************************
                Home Slider Start
        *************************************-->
            <div id="tg-homebanner" class="tg-homebanner tg-haslayout">
                <figure class="tg-themepostimg">
                    <img src="lib/images/banner/<?= $value['banner'] ?>.jpg" alt="LOCATRIP Floarianópolis" class="banner" style="display: block; width: 100%;  background-attachment: fixed;  background-size: cover;">
                    <video autoplay loop id="video-background" muted plays-inline style="width: 100%;  background-attachment: fixed;  background-size: cover; display: none;"  class="banner">
                      <source src="lib/video/florianopolis.mp4" type="video/mp4">
                    </video>
                    <figcaption>
                        <div class="tg-bannercontent" data-tilt >
                            <span class="tg-datetime"><?= $value['date'] ?> </span>
                            <h1><?= $value['title'] ?></span></h1>
                            <div class="tg-speakerinfo">
                                <div class="tg-authorholder">
                                    <div class="tg-authorcontent">
                                        <div class="tg-speakername">
                                            <h2><?= $value['short-description'] ?></h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-btnwhite">
                                    <a class="tg-btn" href="<?= $value['link-book-now'] ?>" target="_blank" style="font-weight: 600; background: ">Reservar seu lugar </a>
                                    <a class="tg-btn" href="city/trip/<?= $value['trip-address'] ?>" >Saiba Mais</a>
                                </div>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        <!--************************************
                Home Slider End
        *************************************-->
        <!--************************************
                Main Start
        *************************************-->
        <main id="tg-main" class="tg-main tg-haslayout">
            <!--************************************
                    Speakers Start
            *************************************-->
            <section id="tg-speakers" class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                            <div class="tg-sectionhead">
                                <div class="tg-sectionheading">
                                    <span>Vamos viajar?</span>
                                    <h2>Nossas trips</h2>
                                </div>
                                <div class="tg-description">
                                    <p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="tg-eventspeakerslider" class="tg-eventspeakerslider tg-speakers owl-carousel">
                            <?php foreach (CityHelper::getAll() as $key => $value): ?>
                                <div class="item tg-speaker">
                                <figure class="tg-speakerimg">
                                    <a href="city/trip/<?= $value['trip-address'] ?>">
                                        <img src="lib/images/speakers/<?= $value['images'] ?>.jpg" alt="<?= $value['title'] ?>">
                                    </a>
                                </figure>
                                <div class="tg-contentbox">
                                    <div class="tg-title">
                                        <h2><a href="city/trip/<?= $value['trip-address'] ?>"><?= $value['title'] ?></a></h2>
                                        <span><?= $value['date'] ?></span>
                                    </div>
                                    <div class="tg-description">
                                        <p><?= $value['short-description'] ?></p>
                                    </div>
                                </div>
                            </div>
                            <?php endforeach; ?>

                        </div>
                    </div>
                </div>
            </section>
            <!--************************************
                    Speakers End
            *************************************-->

            <!--************************************
                    Testimonials Start
            *************************************-->
            <div class="tg-sectionspace tg-haslayout tg-bgtestimonials">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                            <div class="tg-testimonials">
                                <div id="tg-testimonialslider" class="tg-testimonialslider tg-testimonial owl-carousel fadeIn">
                                    <div class="item">
                                        <div class="tg-testimonialcontent">
                                            <span class="tg-clientname">Dalai Lama</span>
                                            <blockquote>
                                                <q>“Uma vez por ano, vá a algum lugar onde nunca esteve antes.”</q>
                                            </blockquote>
                                            <img src="lib/images/quotes.png" alt="image description">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="tg-testimonialcontent">
                                            <span class="tg-clientname">Mario Quintana</span>
                                            <blockquote>
                                                <q>“Viajar é trocar a roupa da alma”</q>
                                            </blockquote>
                                            <img src="lib/images/quotes.png" alt="image description">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="tg-testimonialcontent">
                                            <span class="tg-clientname">Provérbio Asiático</span>
                                            <blockquote>
                                                <q>“Melhor é ver algo uma vez do que ouvir a respeito mil vezes.”</q>
                                            </blockquote>
                                            <img src="lib/images/quotes.png" alt="image description">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="tg-testimonialcontent">
                                            <span class="tg-clientname">Autor Desconhecido</span>
                                            <blockquote>
                                                <q>“Viajar te deixa sem palavras e depois te transforma em um contador de histórias.”</q>
                                            </blockquote>
                                            <img src="lib/images/quotes.png" alt="image description">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="tg-about" class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="tg-sectionhead tg-textalignleft">
                                <div class="tg-sectionheading">
                                    <h2>LOCATRIP no instagram</h2>
                                </div>
                            </div>
                            
                            <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/bd8bd0b5f41a57f68214d2b5600735e5.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

                        </div>
                    </div>
                </div>
            </section>
            <!--************************************
                    Quem Somos
            *************************************-->
            <section id="tg-about" class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            <div class="tg-sectionhead tg-textalignleft">
                                <div class="tg-sectionheading">
                                    <h2>Conheça a locatrip</h2>
                                </div>
                                <div class="tg-description">
                                    <p>Somos uma agência de turismo, movidos pelo desejo intenso de conhecer lugares novos, de estar com amigos e de partilhar bons momentos. Nosso intuito é levar você para locais paradisíacos, onde se pode lavar a alma em águas cristalinas em meio à natureza e voltar renovado. Viajar com a gente é contar histórias, lembrar-se de memórias inesquecíveis e rir sozinhos (ou não! Vai saber?! Rsrs). Somos apaixonados pela vida e pela transformação que uma viagem faz em cada ser. <br><br></p>
                                    <p>A LOCATRIP foi criada em 2017 por Vanessa e Fagner com o objetivo de conhecer novos lugares, de sair da rotina e ter mais momentos de lazer. Promovemos viagens inspiradoras e alegres. <br><br></p>
                                    <p>Inspire-se, viaje, renove-se! Faça as malas e venha com a gente!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flocatrip&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <!--************************************
                    Quem Somos end
            *************************************-->


            <!--************************************
                    Redes sociais
            *************************************
            <section id="tg-about" class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            <div class="tg-sectionhead tg-textalignleft">
                                <div class="tg-sectionheading">
                                    <h2>Locatrip no Spotify</h2>
                                </div>
                                <iframe src="https://open.spotify.com/embed/user/fagnernike/playlist/6qVm3hOsEozMHY8MiDOdpw" width="300" height="495" frameborder="0" allowtransparency="true"></iframe>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <div class="tg-sectionhead tg-textalignleft">
                                <div class="tg-sectionheading">
                                    <h2>Locatrip no Facebook</h2>
                                </div>
                            </div>
                            <div id="fb-root"></div>    
                                <script>(function(d, s, id) {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s); js.id = id;
                                  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>

                                <div class="fb-page" data-href="https://www.facebook.com/locatrip" data-tabs="timeline" data-width="380" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                    <blockquote cite="https://www.facebook.com/locatrip" class="fb-xfbml-parse-ignore">
                                        <a href="https://www.facebook.com/locatrip">Locatrip no Facebook</a>
                                    </blockquote>
                                </div>
                         
                        </div>
                    </div>
                </div>
            </section>-->
            <!--************************************
                    Redesociais end
            *************************************-->




        <!--************************************
                Main End
        *************************************-->