
            <!--************************************
                    About Us Start
            *************************************-->
           

            <section class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-aboutus">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <span>Greetings &amp; welcome</span>
                                            <h2>About the event organizer</h2>
                                        </div>
                                        <div class="tg-description">
                                            <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamcoaris nisi ut aliquipa ex ea commodo consequat aute irure.</p>
                                        </div>
                                        <div class="tg-btnarea">
                                            <a class="tg-btn" href="#">Book Your Seat</a>
                                            <a class="tg-btn" href="#">Meet The Team</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-videoarea">
                                    <figure>
                                        <img src="lib/images/video-placeholder.jpg" alt="image description">
                                        <figcaption><a href="https://www.youtube.com/watch?v=FVwoQIBPiHU" class="tg-btnplay" data-rel="prettyPhoto[gallery]"><img src="lib/images/btn-playicon.jpg" alt="image description"></a></figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-aboutus">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <span>Greetings &amp; welcome</span>
                                            <h2>About the event organizer</h2>
                                        </div>
                                        <div class="tg-description">
                                            <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamcoaris nisi ut aliquipa ex ea commodo consequat aute irure.</p>
                                        </div>
                                        <div class="tg-btnarea">
                                            <a class="tg-btn" href="#">Book Your Seat</a>
                                            <a class="tg-btn" href="#">Meet The Team</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-videoarea">
                                    <figure>
                                        <img src="lib/images/video-placeholder.jpg" alt="image description">
                                        <figcaption><a href="https://www.youtube.com/watch?v=FVwoQIBPiHU" class="tg-btnplay" data-rel="prettyPhoto[gallery]"><img src="lib/images/btn-playicon.jpg" alt="image description"></a></figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-aboutus">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <span>Greetings &amp; welcome</span>
                                            <h2>About the event organizer</h2>
                                        </div>
                                        <div class="tg-description">
                                            <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamcoaris nisi ut aliquipa ex ea commodo consequat aute irure.</p>
                                        </div>
                                        <div class="tg-btnarea">
                                            <a class="tg-btn" href="#">Book Your Seat</a>
                                            <a class="tg-btn" href="#">Meet The Team</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-videoarea">
                                    <figure>
                                        <img src="lib/images/video-placeholder.jpg" alt="image description">
                                        <figcaption><a href="https://www.youtube.com/watch?v=FVwoQIBPiHU" class="tg-btnplay" data-rel="prettyPhoto[gallery]"><img src="lib/images/btn-playicon.jpg" alt="image description"></a></figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-aboutus">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <span>Greetings &amp; welcome</span>
                                            <h2>About the event organizer</h2>
                                        </div>
                                        <div class="tg-description">
                                            <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamcoaris nisi ut aliquipa ex ea commodo consequat aute irure.</p>
                                        </div>
                                        <div class="tg-btnarea">
                                            <a class="tg-btn" href="#">Book Your Seat</a>
                                            <a class="tg-btn" href="#">Meet The Team</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-videoarea">
                                    <figure>
                                        <img src="lib/images/video-placeholder.jpg" alt="image description">
                                        <figcaption><a href="https://www.youtube.com/watch?v=FVwoQIBPiHU" class="tg-btnplay" data-rel="prettyPhoto[gallery]"><img src="lib/images/btn-playicon.jpg" alt="image description"></a></figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-aboutus">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <span>Greetings &amp; welcome</span>
                                            <h2>About the event organizer</h2>
                                        </div>
                                        <div class="tg-description">
                                            <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamcoaris nisi ut aliquipa ex ea commodo consequat aute irure.</p>
                                        </div>
                                        <div class="tg-btnarea">
                                            <a class="tg-btn" href="#">Book Your Seat</a>
                                            <a class="tg-btn" href="#">Meet The Team</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-videoarea">
                                    <figure>
                                        <img src="lib/images/video-placeholder.jpg" alt="image description">
                                        <figcaption><a href="https://www.youtube.com/watch?v=FVwoQIBPiHU" class="tg-btnplay" data-rel="prettyPhoto[gallery]"><img src="lib/images/btn-playicon.jpg" alt="image description"></a></figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--************************************
                    About Us End
            *************************************-->


            
        </main>