
        <!--************************************
                Home Slider Start
        *************************************-->
        <div id="tg-homebanner" class="tg-homebannervtwo tg-haslayout">
            <figure class="tg-themepostimg">
                <img src="lib/images/banner/<?= $data['banner'] ?>.jpg" alt="image description">
                <figcaption>
                    <div class="container">
                        <div class="tg-bannercontent">
                            <span class="tg-datetime"><?= $data['date'] ?></span>
                            <h1><?= $data['title'] ?></h1>
                            <div class="tg-authorholder">
                                <div class="tg-authorcontent">
                                    <div class="tg-speakername">
                                        <h2><?= $value['short-description'] ?></h2>
                                    </div>
                                </div>
                            </div>
                            <div id="tg-upcomingeventcountervtwo" class="tg-upcomingeventcounter"></div>

                            <div class="tg-btnwhite">
                                <a class="tg-btn" href="<?= $value['link-book-now'] ?>" target="_blank">Reservar seu lugar</a>
                            </div>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </div>
        <!--************************************
                Home Slider End
        *************************************-->
        <!--************************************
                Main Start
        *************************************-->
        <main id="tg-about" class="tg-main tg-haslayout">
            <!--************************************
                    About Us Start
            *************************************-->
            <section class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-aboutus">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <span>Saiba mais &amp; Sobre:</span>
                                            <h2> <?= $data['title'] ?></h2>
                                        </div>
                                        <div class="tg-description">
                                            <p>
                                                <?= $data['description'] ?>
                                            </p>
                                        </div>
                                        <div class="tg-btnarea">
                                            <a class="tg-btn" href="#"></a>
                                            <a class="tg-btn" href="<?= $value['link-book-now'] ?>" target="_blank">Reserve Seu Lugar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-videoarea">
                                    <figure>
                                        <img src="lib/images/<?= $data['image-video'] ?>" alt="Video de <?= $data['title'] ?>">
                                        <figcaption><a href="https://www.youtube.com/watch?v=Q3jPvf2OOgg" class="tg-btnplay" data-rel="prettyPhoto[gallery]"><img src="lib/images/btn-playicon.jpg" alt="<?= $data['title'] ?>"></a></figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--************************************
                    About Us End
            *************************************-->
            <section class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-aboutus">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <h2>Esta incluso no pacote:</h2>
                                        </div>
                                        <div class="tg-description">
                                            <p>
                                                - Pousada ou Hostel a 1 quadra do mar <br>
                                                - Café da manhã<br>
                                                - Ida e volta em ônibus confortável<br>
                                                - Tour pelo sul da ilha<br>
                                                - Open bar de cerveja e refrigerante<br>
                                                - Lual e música ao vivo<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tg-textshortcode">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <h2> Vamos visitar:</h2>
                                        </div>
                                        <div class="tg-description">
                                            <p>
                                                - Praia Barra da Lagoa <br>
                                                - Prainha da Barra da Lagoa <br>
                                                - Praia Mole <br>
                                                - Praia da Armação <br>
                                                - Praia do Matadeiro <br>
                                                - Piscina natural marítima <br>
                                                - Mirantes  <br>
                                                - Lagoa da Conceição ou Costa da Lagoa* <br>
                                                - Passeio de barco* <br>
                                                - Projeto Tamar* 🐢 <br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--************************************
                    About Us End
            *************************************-->


            <!--************************************
                    Confrences Start
            *************************************-->
            <section id="tg-schedule" class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-eventconfrences">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="tg-headholder">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <span>Vamos explorar?</span>
                                            <h2>Confira nossa programação: <?= $data['title'] ?> </h2>
                                        </div>
                                        <div class="tg-description">
                                            <p><?= $data['rota-description'] ?></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-eventscheduletabs">
                                    <ul class="tg-eventschedulenav" role="tablist">
                                        <li role="presentation" class="active"><a href="#day-one" aria-controls="day-one" role="tab" data-toggle="tab">PRAIAS DE FLORIANÓPOLIS<span><?= $data['date'] ?></span></a></li>
                                    </ul>
                                    <div class="tg-eventschedulecontent tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="day-one">
                                            <div class="tg-eventvenuetabs">
                                                <div class="tg-eventvenuecontent tab-content">
                                                    <div role="tabpanel" class="tab-pane active"">
                                                            <?php foreach ($data['route'] as $key => $route): ?>
                                                                <div class="tg-event tg-eventbreak">
                                                                    <div class="tg-eventhead">
                                                                        <div class="tg-leftarea">
                                                                            <time datetime="2017-12-12">
                                                                                <?= $route['entry-time']; ?> -
                                                                                <?= $route['exit-time']; ?>
                                                                            </time>
                                                                            <div class="tg-title">
                                                                                <h2><?= $route['title']; ?></h2>
                                                                            </div>
                                                                        </div>
                                                                        <!--
                                                                        <div class="tg-rightarea">
                                                                            <a class="tg-btnfarword" href="#"><i class="fa fa-mail-forward"></i></a>
                                                                        </div>
                                                                    -->
                                                                    </div> 
                                                                    <div class="tg-description">
                                                                        <p><?= $route['description']; ?></p>
                                                                    </div>
                                                                </div>
                                                         <?php endforeach; ?>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--************************************
                    Confrences End
            *************************************-->
            <!--************************************
                    Gallery Start
            *************************************-->
            <section id="tg-venue" class="tg-sectionspace tg-haslayout">
                <div class="container">
            <div class="fb-album-container"></div>
</div>
</section>
    
            <!--************************************
                    Gallery End
            *************************************-->

            <!--************************************
                    Event Registration Start
            *************************************-->
            <section id="tg-venue" class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-eventvenueregistration">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="tg-headholder">
                                    <div class="tg-sectionhead tg-textalignleft">
                                        <div class="tg-sectionheading">
                                            <span>Bora viajar?</span>
                                            <h2>Local de encontro em <?= $data['address2']; ?></h2>
                                        </div>
                                        <div class="tg-description">
                                            <p><?= $data['address3']; ?> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-locationregister no-gutters">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div id="tg-locationmap" class="tg-locationmap tg-map"></div>
                                    </div>
                                </div>
                                <!--
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <a class="tg-btn center" href="<?= $value['link-book-now'] ?>" target="_blank">Reseve agora</a>
                                </div>
                            -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!--************************************
                    Event Registration End
            *************************************-->
            <section id="tg-venue" class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="tg-eventvenueregistration">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="tg-headholder">
                                <div class="tg-sectionhead tg-textalignleft">
                                    <div class="tg-sectionheading">
                                        <span>Saia da rotina</span>
                                        <h2>Reserve o seu lugar aqui!</h2>
                                    </div>
                                </div>
                                <div style="width:100%; height: auto; text-align:left;">
                                    <iframe src="//eventbrite.com.br/tickets-external?eid=38468835322&ref=etckt" frameborder="0" height="700" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
                                    <div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.com.br/">Com tecnologia Eventbrite</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!--************************************
                    Event Registration End
            *************************************-->
        <!--************************************
                Main End
        *************************************-->
<script  src="https://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>


  <?= "<script> var address = '".$data['address']."'</script>" ?>
        <script>
           $( document ).ready(function() {
    /* -------------------------------------
            Google Map
    -------------------------------------- */
    var _tg_locationmap = jQuery("#tg-locationmap");
    _tg_locationmap.gmap3({
        marker: {
            address: address,
            options: {
                title: "Saída do ónibus para Florianópolis",
                icon: "lib/images/map-marker.png",
            }
        },
        map: {
            options: {
                zoom: 16,
                scrollwheel: false,
                disableDoubleClickZoom: true,
            }
        }
    });
});
</script>



<script type="text/javascript">
    $.noConflict();
    jQuery(document).ready(function () {
      jQuery(".fb-album-container").FacebookAlbumBrowser({
            account: "locatrip",
            accessToken: "775908159169504|cYEIsh0rs25OQQC8Ex2hXyCOut4",
            skipAlbums: ["Profile Pictures", "Timeline Photos", "Cover Photos"],
            showComments: true,
            lightbox: true,
            showAccountInfo: true,
            thumbnailSize: 280,
            photosPageSize: 280
        });

    });
</script>

